In [2]:
from Bio import Entrez
import matplotlib.pyplot as plt
import matplotlib._color_data as mcd
import pandas as pd
import math
import random
Entrez.email = "lukas.becker@hhu.de"
overlap = [name for name in mcd.CSS4_COLORS]
overlap.remove("lightgrey")

## EColi BLASTP against COMAMONADACEAE WORD-SIZE 3 - Core Capsule Proteins for System I and IV

In [51]:
queries = [
]
queryfile = open("../data/e_coli_group_1_group_4_core_genes.faa","r")
for line in queryfile.readlines():
    if ">" in line:
        queries.append(line)
queryfile.close()

In [52]:
queries

['>WP_000978094.1 MULTISPECIES: polysaccharide export protein Wza [Enterobacteriaceae]\n',
 '>WP_000482901.1 MULTISPECIES: low molecular weight protein-tyrosine-phosphatase Wzb [Enterobacteriaceae]\n',
 '>WP_152071828.1 tyrosine-protein kinase Wzc [Escherichia coli]\n',
 '>WP_152071831.1 O184 family O-antigen polymerase [Escherichia coli]\n',
 '>WP_000058480.1 colanic acid undecaprenyl disphosphate flippase WzxC [Escherichia coli]\n',
 '>WP_072652011.1 LPS O-antigen chain length determinant protein WzzB [Escherichia coli]\n']

In [6]:
df = pd.read_csv("../data/e_coli_type_1_and_4_capsules_vs_comamonadaceae.csv",header=None)

In [7]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,WP_000978094.1,WP_200785710.1,44.149,376,189,5,7,364,4,376,3.140000e-110,332.0,65.43
1,WP_000978094.1,WP_162241819.1,37.288,354,199,7,18,367,4,338,4.520000e-68,223.0,55.08
2,WP_000978094.1,WP_081682265.1,42.623,305,158,7,85,379,62,359,1.090000e-66,219.0,58.36
3,WP_000978094.1,WP_123299537.1,36.119,371,213,10,19,374,22,383,1.480000e-65,217.0,56.33
4,WP_000978094.1,WP_058640426.1,41.776,304,162,5,85,379,101,398,2.140000e-65,217.0,57.89

In [25]:
wps = list(df[1])

In [33]:
len(wps)

407

In [26]:
handle = Entrez.elink(dbfrom="protein",db="taxonomy",id=wps)
record = Entrez.read(handle)
handle.close()

In [32]:
len(record)

407

In [42]:
linked = []
for i in range(len(record)):
    linked.append(record[i]["LinkSetDb"][0]["Link"][0]['Id'])

In [44]:
df[13] = linked

In [45]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,WP_000978094.1,WP_200785710.1,44.149,376,189,5,7,364,4,376,3.140000e-110,332.0,65.43,28220
1,WP_000978094.1,WP_162241819.1,37.288,354,199,7,18,367,4,338,4.520000e-68,223.0,55.08,1736316
2,WP_000978094.1,WP_081682265.1,42.623,305,158,7,85,379,62,359,1.090000e-66,219.0,58.36,433924
3,WP_000978094.1,WP_123299537.1,36.119,371,213,10,19,374,22,383,1.480000e-65,217.0,56.33,2485130
4,WP_000978094.1,WP_058640426.1,41.776,304,162,5,85,379,101,398,2.140000e-65,217.0,57.89,433924

In [46]:
handle = Entrez.efetch(id=linked, db="taxonomy", retmode="xml")
record = Entrez.read(handle)
handle.close()

In [54]:
taxonomy = []
for i in range(len(record)):
    taxonomy.append(record[i]['ScientificName'])
df[14] = taxonomy

In [55]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,WP_000978094.1,WP_200785710.1,44.149,376,189,5,7,364,4,376,3.140000e-110,332.0,65.43,28220,Brachymonas denitrificans
1,WP_000978094.1,WP_162241819.1,37.288,354,199,7,18,367,4,338,4.520000e-68,223.0,55.08,1736316,Pseudorhodoferax sp. Leaf267
2,WP_000978094.1,WP_081682265.1,42.623,305,158,7,85,379,62,359,1.090000e-66,219.0,58.36,433924,Pseudacidovorax intermedius
3,WP_000978094.1,WP_123299537.1,36.119,371,213,10,19,374,22,383,1.480000e-65,217.0,56.33,2485130,Comamonas sp. BIGb0124
4,WP_000978094.1,WP_058640426.1,41.776,304,162,5,85,379,101,398,2.140000e-65,217.0,57.89,433924,Pseudacidovorax intermedius

In [57]:
df.to_csv("../data/ecoli_core_capsule_1_4_vs_comamonadaceae_pd.csv")

In [89]:
type1and4corecapsules = pd.read_csv("../data/ecoli_core_capsule_1_4_vs_comamonadaceae_pd.csv",index_col=0)

In [98]:
type1and4corecapsules['0'].unique()

array(['WP_000978094.1', 'WP_000482901.1', 'WP_152071828.1',
       'WP_000058480.1', 'WP_072652011.1'], dtype=object)

In [77]:
type1and4corecapsules[type1and4corecapsules['14'].str.contains('Curvibacter')]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
318,WP_000058480.1,WP_087496544.1,27.164,335,231,6,2,330,3,330,2.220000e-29,125.0,51.94,1844971,Curvibacter sp. AEP1-3

In [ ]:
#e_coli_type_2_and_3_capsules_vs_comamonadaceae

In [113]:
wzx = type1and4corecapsules[type1and4corecapsules['0'] == 'WP_000058480.1']

In [114]:
wzxWPs = list(wzx['1'])

In [115]:
handle = Entrez.efetch(db="protein",id=wzxWPs,retmode="xml")
record = Entrez.read(handle)
handle.close()

In [116]:
output = open("../data/wzx_sequences.faa",'w')
for i in range(len(record)):
    output.write(">"+record[i]['GBSeq_locus']+" "+record[i]['GBSeq_definition']+"\n")
    output.write(record[i]['GBSeq_sequence']+"\n")
output.close()

# EColi BLASTP against COMAMONADACEAE WORD-SIZE 3 - Core Capsule Proteins for System II and III

In [78]:
queries = [
]
queryfile = open("../data/e_coli_core_capsule_2_3_proteins.faa","r")
for line in queryfile.readlines():
    if ">" in line:
        queries.append(line)
queryfile.close()

In [79]:
queries

['>WP_001355482.1 KpsF/GutQ family sugar-phosphate isomerase [Escherichia coli]\n',
 '>WP_000011612.1 KpsU MULTISPECIES: 3-deoxy-manno-octulosonate cytidylyltransferase [Enterobacteriaceae]\n',
 '>WP_011579193.1 KpsC capsular polysaccharide biosynthesis protein [Escherichia coli]\n',
 '>WP_001023681.1 KpsS capsular biosynthesis protein [Escherichia coli]\n',
 '>WP_001575907.1 Wzm O52 family O-antigen export ABC transporter permease subunit [Escherichia coli]\n',
 '>WP_032304460.1 Wzt O99 family O-antigen ABC transporter ATP-binding protein Wzt [Escherichia coli]\n',
 '>WP_000905920.1 MULTISPECIES: capsule polysaccharide export inner-membrane protein KpsE [Enterobacteriaceae]\n',
 '>WP_001546114.1 polysaccharide biosynthesis/export family protein [Escherichia coli]\n']

In [80]:
df = pd.read_csv("../data/e_coli_type_2_and_3_capsules_vs_comamonadaceae.csv",header=None)

In [81]:
wps = list(df[1])

In [83]:
len(wps)

824

In [84]:
handle = Entrez.elink(dbfrom="protein",db="taxonomy",id=wps)
record = Entrez.read(handle)
handle.close()

linked = []
for i in range(len(record)):
    linked.append(record[i]["LinkSetDb"][0]["Link"][0]['Id'])

df[13] = linked

handle = Entrez.efetch(id=linked, db="taxonomy", retmode="xml")
record = Entrez.read(handle)
handle.close()

taxonomy = []
for i in range(len(record)):
    taxonomy.append(record[i]['ScientificName'])
df[14] = taxonomy

In [85]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,WP_001355482.1,WP_099737925.1,51.148,305,146,3,23,326,16,318,3.330000e-103,310.0,71.80,2035201,Comamonas sp. 26
1,WP_001355482.1,WP_122974749.1,50.164,305,149,3,23,326,16,318,1.320000e-101,306.0,71.15,363952,Comamonas thiooxydans
2,WP_001355482.1,WP_148729658.1,49.836,305,150,3,23,326,16,318,5.510000e-101,304.0,71.15,2601247,Comamonas sp. Z3
3,WP_001355482.1,WP_083927412.1,51.536,293,139,3,36,327,1,291,1.080000e-100,302.0,72.35,491919,Brachymonas chironomi
4,WP_001355482.1,WP_211456619.1,51.943,283,134,2,45,326,37,318,7.070000e-99,299.0,71.38,1812482,Comamonas sp. PE63

In [86]:
df.to_csv("../data/ecoli_core_capsule_2_3_vs_comamonadaceae_pd.csv")

In [88]:
type2and3corecapsules = pd.read_csv("../data/ecoli_core_capsule_2_3_vs_comamonadaceae_pd.csv",index_col=0)

In [90]:
type2and3corecapsules[type2and3corecapsules['14'].str.contains('Curvibacter')]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
466,WP_001575907.1,WP_031255555.1,23.661,224,160,4,6,221,12,232,1.530000e-08,58.9,47.32,86182,Curvibacter lanceolatus
823,WP_001546114.1,WP_169426581.1,25.108,231,141,8,89,302,2,217,1.380000e-06,55.1,44.59,86182,Curvibacter lanceolatus

In [93]:
type2and3corecapsules[type2and3corecapsules['0'] == 'WP_001546114.1']

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
696,WP_001546114.1,WP_132765905.1,54.043,507,222,4,58,558,95,596,0.000000e+00,557.0,73.37,215580,Schlegelella thermodepolymerans
697,WP_001546114.1,WP_062190808.1,53.465,505,228,4,58,558,72,573,0.000000e+00,556.0,72.87,307483,Caldimonas taiwanensis
698,WP_001546114.1,WP_104357765.1,54.472,492,222,2,68,558,106,596,0.000000e+00,555.0,74.59,215580,Schlegelella thermodepolymerans
699,WP_001546114.1,WP_019562182.1,51.670,509,231,5,58,558,72,573,0.000000e+00,554.0,73.48,196015,Caldimonas manganoxidans
700,WP_001546114.1,WP_135285466.1,47.732,507,251,4,62,558,77,579,5.190000e-165,485.0,68.05,1781167,Ramlibacter rhizophilus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
819,WP_001546114.1,WP_201166506.1,33.333,111,72,2,91,200,27,136,2.270000e-07,56.2,53.15,502333,Ramlibacter ginsenosidimutans
820,WP_001546114.1,WP_141512947.1,26.486,185,131,4,76,257,55,237,7.490000e-07,55.8,45.41,1882741,Ramlibacter sp. WS9
821,WP_001546114.1,WP_193781265.1,25.714,245,160,10,90,322,62,296,1.090000e-06,55.8,45.31,2780094,Ramlibacter aquaticus
822,WP_001546114.1,WP_142814089.1,25.620,242,160,8,96,323,63,298,1.150000e-06,55.8,43.39,2509614,Rhodoferax sediminis
823,WP_001546114.1,WP_169426581.1,25.108,231,141,8,89,302,2,217,1.380000e-06,55.1,44.59,86182,Curvibacter lanceolatus

In [91]:
queries

['>WP_001355482.1 KpsF/GutQ family sugar-phosphate isomerase [Escherichia coli]\n',
 '>WP_000011612.1 KpsU MULTISPECIES: 3-deoxy-manno-octulosonate cytidylyltransferase [Enterobacteriaceae]\n',
 '>WP_011579193.1 KpsC capsular polysaccharide biosynthesis protein [Escherichia coli]\n',
 '>WP_001023681.1 KpsS capsular biosynthesis protein [Escherichia coli]\n',
 '>WP_001575907.1 Wzm O52 family O-antigen export ABC transporter permease subunit [Escherichia coli]\n',
 '>WP_032304460.1 Wzt O99 family O-antigen ABC transporter ATP-binding protein Wzt [Escherichia coli]\n',
 '>WP_000905920.1 MULTISPECIES: capsule polysaccharide export inner-membrane protein KpsE [Enterobacteriaceae]\n',
 '>WP_001546114.1 polysaccharide biosynthesis/export family protein [Escherichia coli]\n']